<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkJ7SER1mDfraYn7RlY4GMGVW1eKo3dAM</string>
	<key>GCM_SENDER_ID</key>
	<string>601087029487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AbuSada.RisingWay</string>
	<key>PROJECT_ID</key>
	<string>rising-way</string>
	<key>STORAGE_BUCKET</key>
	<string>rising-way.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601087029487:ios:46b51059515c0232946b1a</string>
</dict>
</plist>